*{
    scroll-behavior: smooth;
    margin:0;
    padding:0;
    
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}
@font-face {
    font-family: romanfont;
    src: url("NeueHaasDisplayRoman.ttf");
}
@font-face {
    font-family: displaymedium;
    src: url("NeueHaasDisplayMediu.ttf");
}
@font-face {
    font-family: displaylight;
    src: url("NeueHaasDisplayLight.ttf");
}
#page1{
min-height: 100vh;
width: 100%;

position: relative;
background-color: #f5f5f7;
}
#main{
    backdrop-filter: blur(10px);
}
#menu{
    height: 50vh;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index:999;
    top:0;
    display:flex;
    align-items: center;
    justify-content: center;
    transition: 0.7s ease;
}
nav{
    height: 14vh;
    width: 100%;
    display:flex;
    position:fixed;
    align-items: center;
    justify-content: space-between;
    padding:0vw 5vw;
    z-index: 99;
    background-color: #f5f5f7;
    /* background-color: red; */
    /* justify-content: end; */
    padding-right:5vw;
    padding-left:5vw;
    /* background: url(''); */
    font-family: displaylight;
  
}
body{
    background-color: #f5f5f7;}
.left{
    width:50%;
    font-family: displaymedium;
}
.right{
 /* background-color: red; */
 display: flex;
    width:50%;
    align-items: center;
    justify-content: end;
  
}
nav p{
    font-family: displaylight;
    font-size: 1.3vw;
    margin-right: 0.1vw;
    width:15vw;
    word-spacing: 5px;
    line-height: 100%;
    /* background-color: red; */
    text-align: center;
}
#wraper{
    display:flex;
    align-items: center;
    justify-self: center;
    background-color:white; /* White background with some transparency */
    /* backdrop-filter: blur(10px); */
    /* -webkit-backdrop-filter: blur(10px); For Safari support */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow */
    /* outline: 2px solid black; */
    border-radius: 40px;
    padding:6px;
    width:100%;
    /* background-color: green; */
}
#wraper h4:nth-child(2){
    outline:none;
    border:none;
}
nav img{
    
    width:150px;
}
.navigator{
    border:1px solid #8a8a8a89;
    border-radius: 40px;
    width:fit-content;
    padding:10px 25px;
    height:fit-content;
    font-size:large;
    font-weight: lighter;
    
}
.navigator a {
    color:white;
}
.navigator:nth-child(1){
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 3s ease infinite;
    color:white;
    /* font-family: displaymedium; */
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.navpart2{
    display:flex;
    justify-content: space-between;
    width:18vw;
}
.navpart2 h4{
    position: relative;
    z-index:99;
    position:relative;
    overflow:hidden
}
.navpart2 h4:nth-child(1)::after{
    content:"";
    position:absolute;
    height: 100%;width: 100%;
    background-color: black;
    left:0;
    bottom:-100%;
    border-radius: 50%;
    transition:0.2s ease;

}
/* .navpart2 h4 a:nth-child(1){
    color:white;
} */
.navpart2 h4 a{
    text-decoration: none;
    color:white;
    z-index:9;
    position: relative;
}
.navpart2 h4:nth-child(1):hover a{
    color:white;

}


.navpart2 h4:hover:nth-child(1)::after{
    bottom:0;
    border-radius: 0;
    color:white;

}


#center{
    display:flex;
    height: 90vh;
    /* background-color: orange; */
    align-items: center;
    justify-content: space-between;
}
#demolist{
    list-style: disc;
    display: flex;
    /* background-color: red; */
    align-items: center;
    width:15vw;
    font-family: displaylight;
    margin-top:0.6vw;
    font-size: 1.5vw;
    margin-left:5vw;
    justify-content: space-around;
}
.demoitem::marker{
   height: 10px;
   width: 10px;
   /* color: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
   /* background-size: 400% 400%; */
   /* animation: gradient 3s ease infinite; */ 
    color: #23d5ab;

}

#leftpara{
    width:50vw;
    /* background-color: red; */
    font-size:3.5vw;
    font-family: displaymedium;
    margin-left:5vw;
    margin-top:14vh;
    opacity:0.8;

}
#nav .left{
    opacity:0.8;    
}
#right{
    display:flex;
align-items: end;
justify-content: end;
/* background-color: red; */
margin-right:5vw;
font-family: displaymedium;
height: 100%;
width: 100%;}
#right h2{
    width: fit-content;
    text-align: center;
    /* background-color: green; */
    font-size: 5vw;

    /* margin-right:5vw; */
}
#righthead{
    font-family: displaymedium;
    font-size:10vw;
    text-align: center;
    line-height: 18vh;
    font-size: 10vw;
    background-color: red;
    color:black;
    padding-right:5vw;
}
#righthead h2{
    opacity:0.8;
}
/* #righthead P{
    font-size: 9.9vw;
    background-color: black;
    color:white;
    text-align: left;
} */
#ray{
    width:95vw;
    padding-top:5vh;
    color:#8a8a8a89;
    margin:auto;
    border:none;
    border-bottom:1px solid #8a8a8a89;
}


#page1 video{
    width:94vw;
    margin:8vh 6vh;
    border-radius: 50px;
    z-index:99;
    position:relative;

}

#hero-shape {
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0;
    top: 82vh;
    z-index:1;
    transform: rotate(0deg);
}

#hero-1 {
    background-color: #FE320A;
    height: 100%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(10px);
    position: absolute;
}

#hero-2 {
    background: linear-gradient(#FE320A, #fe3f0a);

    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    position: absolute;
    animation-name: anime2;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    filter: blur(25px);
}

#hero-3 {
    background: linear-gradient(#FE320A, #fe3f0a);
    height: 30vw;
    position: absolute;
    width: 30vw;
    border-radius: 50%;
    filter: blur(25px);
    animation-name: anime1;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anime1 {
    from {
        transform: translate(55%, -3%);
    }

    to {
        transform: translate(0%, 10%);
    }
}

@keyframes anime2 {
    from {
        transform: translate(5%, -5%);
    }

    to {
        transform: translate(-20%, 30%);
    }
}
#page2{
min-height: 100vh;
width: 100%;

    background-color: #f5f5f7;
}

#moving-text{
    font-size: 4vw;
    font-family: displaymedium;
    white-space: nowrap;
    display:flex;
    overflow-x: auto;
}
#moving-text::-webkit-scrollbar{
    display: none;
}
#moving-text h1{
    display: inline-block;
}
#moving-text .con .gola{
    height: 70px;
    display: inline-block;
    background-color:#23d5ab;
    border-radius: 50%;
    width: 70px;
    margin:1vw 2vw;
}
.con{
    white-space: nowrap;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes move{
    from{transform: translateX(0);}
    to{
        transform: translateX(-100%);
    }

}


#loader{
    height: 100%;
    width: 100%;
    background-color: black;
    position: fixed;
    z-index:999;
    top:0;
    display:flex;
    align-items: center;
    justify-content: center;
    transition: 0.7s ease;
}

#loader h1{
    color:transparent;
    font-family:displaymedium;
    font-size: 4vw;
    background:linear-gradient(to right, #23a6d5, #23d5ab);
    -webkit-background-clip: text;
    position:absolute;
    opacity:0;
}
#loader h1:nth-child(1){
animation-name: load;
animation-delay: 0.5s;
opacity:0;
animation-timing-function: linear;
animation-duration: 1s;
}
#loader h1:nth-child(2){
    animation-name: load;
    animation-delay: 1.5s;
    opacity:0;
    animation-timing-function: linear;
    animation-duration: 1s; 
}
#loader h1:nth-child(3){
    animation-name: load;
    animation-delay: 2.5s;
    opacity:0;
    animation-timing-function: linear;
    animation-duration: 1s;
}
@keyframes load{
    0%{
        opacity:0
    }
    10%{
        opacity:1;
    }
    90%{
        opacity:1;
    }
    100%{
        opacity:0;
    }

}

#gogo{
    margin-left:5vw;
    border:none;
    outline:1px solid gray;
    border-radius: 40px;
    width:14vw;
    font-family: displaylight;
    font-size: 1.3vw;
    height:6vh;
    margin-top:2vw;
    font-weight: bold;
    transition: 0.5s ease;
}
#gogo:hover{
    font-size:1.35vw;
    /* transform: translate3d(-10px,0,0); */
}

#heh{
    color:black;
}

.ship{
    transform: rotateY(45deg);
    font-size: 5.1vw;
	animation: rotateAnimation 1s linear infinite;
}

@keyframes rotateAnimation {
	from {transform: rotateY(45deg);}
	to {transform: rotateY(225deg);}
}


.bigwrap{
    margin-top:5vh;
    margin-left: 4vw;
    margin-right: 5vw;
    height:20vh;
    width:90vw;
    /* border-radius: 50px; */
    display: flex;
    align-items: center;
    justify-content:flex-start;
    color:black;
    font-family: displaymedium;
    /* background-color: red; */
    overflow: hidden;
}
#destrends{
    background-color: #f5f5f7;
    /* outline:1px solid black; */
    font-size: 5vh;
    height:100%;
    display:flex;
    align-items: center;
    border-radius: 20px;
    justify-content: center;
    z-index:90;
    border:5px solid #f5f5f7;
    opacity:1;


    width:22%;
    box-shadow: 20px 10px 100px rgba(0.1, 0.1, 0.1, 0.1); 
    
}
.slider{
    width:68vw;
}

.tag-list{
    list-style: none;
    gap:1vw;
    display:flex;
    /* overflow: hidden; */
    width:400%;
    /* background-color: red; */
    align-items: center;
    /* box-shadow: 0vh 0vh 1vh 0vh inset black; */
    justify-content: center;
 animation: scroll 40s linear infinite;
}
.slider li{
    opacity:0.8;
    padding:1rem;
    background:var(--clr-primary-400);
    border-radius: 0.5rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter-: blur(10px);
    border:1px solid black;
}
.tag_list li{
    width:10vw;
}
/* @keyframes scroll{
    to{
        transform: translate(calc(-50% - 0.5rem));
    }
} */
@keyframes scroll {
    0% {
      
    }
    50% {
      transform: translateX(calc(-250px * 7));
    }
    100%{
        transform: translateX(0);
    }
  }
.item{
    width:fit-content;
}

.headingwrapper{
    margin-top:2vw;
    font-size:1.8vw;
    text-align: right;
    font-family: displaymedium;
    display: flex;
    margin-right:5vw;
/* justify-content: space-evenly; */
/* background-color: green; */
width:90vw;
margin-left:4.5vw;
height: fit-content;
position: relative;
}
/* .headingwrapper{
    height:fit-content;
    margin-top:5vh;
} */
.headingwrapper .box h1{
  color:rgb(183, 179, 179);
  font-size:4vw;

  /* background-color: red; */
}
.headingwrapper .box h4{
    word-spacing: 0.2vw;
    opacity:0.8;
    
    /* top:0; */
}
/* #rightbig{
    position: -webkit-sticky; 
    position: sticky;
    background-color: red;
    height: fit-content;
    top: 100%;
} */
.headingwrapper .box{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    /* background-color: red; */
    height: fit-content;
    top:0;
    width:80%;
}
#darker{
    color:black;
    opacity:0.8;
}
#leftimages{
    width:50%;
    /* background-color: red; */
    position:relative;
}
.averager{
    /* background-color: yellow; */
    height: 120px;
    width: 100%;
}

#page3{
    height: 100vh;
    width: 100vw;
    background-color: red;
}
#leftimages{
    display: flex;
    justify-content: space-around;
}
.grid-container{
    display:grid;
    gap:4vh;
}
.griditem{
    /* border:2px solid black; */
    height: 30vh;
    border-radius: 10px;
    
    overflow: hidden;

    width: 20vw;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow */
}
.griditem img{
    object-fit: cover;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

#leftgrid{
    /* position: -webkit-sticky;
    position: sticky;
    
    bottom:0;
    width:48%;
    background-color: gainsboro;
    place-self: center; */
    position: -webkit-sticky; /* Safari */
    position: sticky;
    /* background-color: red; */
    height: fit-content;
    top:0;
    width:48%;
}
#rightgrid{
    width:48%;
    /* background-color: green; */
}
.biggie{
    height: 50vh;

}
